#index #logo {
    max-height: 45px;
}

#index .navbar-brand {
    padding-top: 2px;
    padding-bottom: 12.5px;
    line-height: 1.9;
}

#index footer.index {
  background-color:#292c2f;
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  text-align:left;
  font:bold 16px sans-serif;
  padding:55px 0px;
  margin-top:10px;
  bottom:0;
  color:#fff;
}

#index .footer-navigation h3 {
  margin:0;
  margin-bottom:20px;
  color:#fff;
}

#index .footer-navigation h3 a {
  text-decoration:none;
  color:#c3c0c0;
}

#index .footer-navigation h3 span {
  color:#5383d3;
}

#index .footer-navigation p.links a {
  color:#fff;
  text-decoration:none;
}

#index .footer-navigation p.company-name {
  color:#8f9296;
  font-size:14px;
  font-weight:normal;
  margin-top:20px;
}

@media (max-width:767px) {
  #index .footer-contacts {
    margin:30px 0;
  }
}

#index .footer-contacts p {
  display:inline-block;
  color:#ffffff;
  vertical-align:middle;
}

#index .footer-contacts p a {
  color:#5383d3;
  text-decoration:none;
}

#index .fa.footer-contacts-icon {
  background-color:#33383b;
  color:#fff;
  font-size:18px;
  width:38px;
  height:38px;
  border-radius:50%;
  text-align:center;
  line-height:38px;
  margin:10px 15px 10px 0;
}

#index span.new-line-span {
  display:block;
  font-weight:normal;
  display:block;
  font-weight:normal;
  font-size:14px;
  line-height:2;
}

#index .footer-about h4 {
  display:block;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  margin-bottom:20px;
}

#index .footer-about p {
  line-height:20px;
  color:#92999f;
  font-size:13px;
  font-weight:normal;
  margin:0;
}

#index div.social-links {
  margin-top:20px;
  color:#fff;
}

#index .social-links a {
  display:inline-block;
  width:35px;
  height:35px;
  cursor:pointer;
  background-color:#33383b;
  border-radius:2px;
  font-size:20px;
  color:#ffffff;
  text-align:center;
  line-height:35px;
  margin-right:5px;
  margin-bottom:5px;
}

/*Home Page*/

