<div id="about">    
<div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 reggie">
                    <div class="sleep">
                        <img src="../../images/liberty-1.jpg" />
                    </div>
                </div>
                <div class="col-md-6 col-md-pull-3 about">
                    <h1>About Project B</h1>
                    <p>Project B is a website about myself, Reginald Beason. I'll be using the name Transient Visitor as a my name in the site. It's a name that describe the way I feel 
                    at time because I'm always moving around in life. I'm full of ambition and have interests in many different fields. It is here that I can talk about them all.</p>
                    <p><a class="btn btn-success btn-lg" role="button" href="#">Project Re-re</a><a class="btn btn-success btn-lg" role="button" href="#">Dance Photo Connection</a></p>
                </div>
            </div>
        </div>
    </div>
    <section class="quotes">
        <h2 class="text-center">The Transient Visitor's - Favorite Quotes</h2>
        <blockquote>
            <p>{{controller.quote.quote}}</p>
            <footer class="about">{{controller.quote.author}}</footer>
        </blockquote>
    </section>
    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2>Check Out My Blogs</h2>
                    <p>I have blogs for each field.... Dance, Art, Travel, Culinary, and Work. Feel free to read them and join me on what is the adventure of my life.</p>
                </div>
                <div class="col-md-7">
                    <div class="row icon-features">
                        <div class="col-xs-2 col-xs-offset-1 icon-feature">
                            <i class="glyphicon glyphicon-user"></i>
                            <p>Dance </p>
                        </div>
                        <div class="col-xs-2 icon-feature">
                            <i class="glyphicon glyphicon-picture"></i>
                            <p>Art </p>
                        </div>
                        <div class="col-xs-2 icon-feature">
                            <i class="glyphicon glyphicon-globe"></i>
                            <p>Travel </p>
                        </div>
                        <div class="col-xs-2 icon-feature">
                            <i class="glyphicon glyphicon-cutlery"></i>
                            <p>Culinary </p>
                        </div>
                        <div class="col-xs-2 icon-feature">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            <p>Work </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>