<div id="blog" class="container">
    <!-- Page Content -->
    <div class="row">
        <h2><a href="/blogcreate">Create a Post</a></h2>
        <!-- Featured Content/Recent Post/Other Page Content -->
        <div class="col-md-8">
            <!-- Featured Content -->
            <div class="row featContent">
                <div class="col-md-7" id="feat1">
                    <img src="../../images/ImgDefault.jpg" />
                    <h2>Featured Title</h2>
                    <h5>Feature Description</h5>
                </div>
                
                <div class="col-md-5 feat2-3">
                    <div class="row"><img src="../../images/ImgDefault.jpg" />
                        <h3>Feature Two</h3>
                        <h5>Feature Description</h5>
                    </div>
                    <div class="row"><img src="../../images/ImgDefault.jpg" />
                        <h3>Feature Three</h3>
                        <h5>Feature Description</h5>
                    </div>
                </div>
            </div>
            
            <!-- Recent Post -->
            <div class="row recentPost">
                <div>
                    <ul class="nodot">
                        <li><img src="../../images/ImgDefault.jpg" /><strong>Recent 1</strong></li><br />
                        <li><img src="../../images/ImgDefault.jpg" /><strong>Recent 2</strong></li><br />
                        <li><img src="../../images/ImgDefault.jpg" /><strong>Recent 3</strong></li><br />
                        <li><img src="../../images/ImgDefault.jpg" /><strong>Recent 4</strong></li><br />
                        <li><img src="../../images/ImgDefault.jpg" /><strong>Recent 5</strong></li><br />
                        <li><img src="../../images/ImgDefault.jpg" /><strong>Recent 6</strong></li><br />
                        <li><img src="../../images/ImgDefault.jpg" /><strong>Recent 7</strong></li><br />
                    </ul>
                </div>
            </div>
        </div>
        <!-- Side Nav Bar/Social Media -->
        <div class="col-md-4">
            <div class="row popPost">
                <ul class="nodot">
                    <li><h5 class="sidenavtitles">popPost</h5></li>
                    <li><img src="../../images/ImgDefault.jpg" /> Popular Post One Title</li><hr />
                    <li><img src="../../images/ImgDefault.jpg" /> Popular Post Two Title</li><hr />
                    <li><img src="../../images/ImgDefault.jpg" /> Popular Post Three Title</li><hr />
                </ul>
            </div>
            <!--Facebook-->
            <div class="row facebook" data-href="https://www.facebook.com/Team-Game-Squad-1742097259373240/" data-tabs="timeline" data-width="500px" data-height="300px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Anything-Everything-364468990234337" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Anything-Everything-364468990234337">Project Beason</a></blockquote>
            </div>
            <div class="row" id="categories">               
                <ul class="arrow">
                    <li class="nodot"><h5 class="sidenavtitles">categories</h5></li>
                    <li>Dance</li>
                    <li>Art</li>
                    <li>Travel</li>
                    <li>Culinary</li>
                    <li>Work</li>
                    <li>Fitness</li>
                    <li>Other</li>
                </ul>
            </div>
            <div class="row" id="instagram">
                <h5>instagram</h5>
            </div>
            <div class="row" id="youtube">
                <h5>youtube</h5>
            </div>
        </div>
        <!-- End NavBar -->
    </div>
    <!-- Page Content -->
</div>