<div id="rere">
    <div class="container">
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="nodot">
                    <li class="sidebar-brand"> <a class="text-primary" href="/rerehome">Project Re-Re</a></li>
                    <li> <a class="text-primary" href="/rereabout">About Us</a></li>
                    <li> <a href="#">Media </a></li>
                    <li> <a href="#">Schedule </a></li>
                    <li> <a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <!--View-->
        <div class="col-md-12">
            <ui-view></ui-view>
        </div>
    </div>
</div>
